html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
}

.App {
  margin: 0;
  padding: 0 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
